<section class="about">
	<div class="row">
		<div class="col-xs-12">
			<h1>Who am I?</h1>
		</div>
		<div class="col-xs-12">
			<div id="general">
				<h2>Generally Speaking</h2>
				<p>I like computers way too much. My girlfriend doesn't like how much I like computers. But I do!</p> 
				<p>I got my first taste of the internet listening to .wav files of cartoon characters in 1994 or so.</p>
				<p>In highschool, I got into game programming, making websites for bands in my area, and blogging on the internet with my brother.</p>
				<p>After college, I moved to Japan where I rekindled my love of programming. I currently make websites for <strong>Servcorp Japan</strong> and I make websites and webapps in my spare time.</p>
			</div>

			<div id="technical">
				<h2>For the Techno-weenies</h2>
				<p>I would consider myself to be more of a frontend person, but we all know that everyone does a bit of both, right? I use a mix of tools to accomplish the tasks set before me, but on the frontend, my toolbelt usually consists of:</p>
				<ul>
					<li>HTML</li>
					<li>CSS and Sass</li>
					<li>Javascript</li>
					<li>Gulp</li>
					<li>Photoshop</li>
					<li>React with Redux</li>
					<li>Libs like: jQuery, bootstrap, Handlebars, Modernizr</li>
				</ul>

				<p>On the backend, in no particular order, I like to use:</p>
				<ul>
					<li>PHP</li>
					<li>Node.js</li>
					<li>Codeigniter</li>
					<li>Express</li>
					<li>Apache and Nginx</li>
					<li></li>
					<li>AWS</li>
					<li>Docker</li>
				</ul>
			</div>

			<p>
				Currently learning: <strong>{{currentlyLearning}}</strong>
			</p>
		</div>
	</div>

	<div class="row timeline-section">
		<div class="col-xs-12">
			
			<h2>Timeline</h2>
			<ul class="timeline">
				{{#timelineEvents}}
				<li>
					<div class="direction-{{#alternateSides @index}}{{/alternateSides}}">
						<div class="flag-wrapper">
							<span class="flag">{{name}}</span>
							<span class="time-wrapper">
								<span class="time">{{date}}</span>
							</span>
						</div>
						<div class="desc">
							{{{description}}} <br>
							<strong>{{place}}</strong>
						</div>
					</div>
				</li>
				{{/timelineEvents}}
			</ul>

		</div>
	</div>
	
	<div class="row images">
		<div class="col-xs-12">
			<h2>Latest Pictures from <a href="http://imgur.com/user/aburdick">imgur</a></h2>
		</div>
		<!-- Pictures go here -->
	</div>
</section>

<script>
	$.ajax({
	  url: 'https://api.imgur.com/3/album/TIUQA/images',
	  type: 'GET',
	  headers: {
	    Authorization: 'Client-ID 1d05543ed6509d9',
	    Accept: 'application/json'
	  },
	  data: {
	    image: localStorage.dataBase64,
	    type: 'base64'
	  },
	  success: function(result) {
	    var pictures = result.data.slice(0, 20);
	    for(var i = 0; i < pictures.length; i++) {
	    	var pictureStr = `
	    		<div class="col-md-4">
	    			<div class="image">
		    			<img src="${pictures[i].link}" alt="">
							<div class="info-window">
								<div class="info-window-inner">
									<p>${pictures[i].title}</p>
								</div>
							</div>
	    			</div>
					</div>
	    	`
	    	$('.row.images').append(pictureStr)
	    }
	  }
	});
</script>