<h2 class="title">{{pageTitle}}</h2>
{{#works}}
<div class="row work">
	<div class="col-xs-12" style="padding: 0">
		<div class="details">
			<div class="detail screenshots">
				<div class="screenshot">
					<img src="/images/{{cover}}" alt="{{name}}">
				</div>
			</div>
			<div class="detail">
				<strong>Name:</strong> {{name}}
				<a href="./{{url}}">Click</a>
			</div>
			<div class="detail">
				<strong>Agency:</strong> {{agency}}
			</div>
		</div>
	</div>
	
		 
</div>
{{/works}}
