<section>
	<div class="row">
		<div class="col-xs-12">
			<h1 class="title">{{pageTitle}}</h1>
		</div>
	</div>
	<div class="row works">
		{{#works}}
		<a href="/works/{{url}}">
			<div class="col-md-4" style="padding: 0">
				<div class="work-item">
					<div class="work-item-inner">
						<div class="screenshot">
							<img src="/images/{{cover}}" alt="{{name}}">
						</div>
						<div class="info-window">
							<div class="info-window-inner">
								<p>{{name}}</p>
								<span>{{agency}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		{{/works}}
	</div>
</section>